.products {
   margin: 0 auto;
   margin-top: 40px;
   display: flex;
   justify-content: flex-start;
   max-width: 1200px;
   flex-wrap: wrap;
}
@media (max-width: 1200px) {
   .products {
      justify-content: center;
   }
}

