.products__item {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
/* @media (max-width: 1200px) {
   .products__item {
      width: 30%;
   }
}
@media (max-width: 1024px) {
   .products__item {
      width: 40%;
   }
}
@media (max-width: 992px) {
   .products__item {
      width: 46%;
   }
}
@media (max-width: 768px) {
   .products__item {
      width: 60%;
   }
} */

.item__image {
   cursor: pointer;
   height: 265px;
   margin-bottom: 2px;
   box-sizing: border-box;
}

.item__image:hover {
   transition: 0.3s;
   padding-bottom: 2px;
}

.item__title {
   font-size: 27px;
   font-weight: bold;
   cursor: pointer;
   text-align: center;
}

.item__description {
   height: 40px;
   text-align: center;
   margin: 3%;
   color: grey;
   font-size: 15px;
}
@media (max-width: 370px) {
   .item__configurator {
      height: 70px;
   }
}

.item__configurator {
   width: 80%;
   background-color: rgb(231, 229, 229);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 15px;
   margin-top: 5px;
   height: 75px;
}
@media (max-width: 370px) {
   .item__configurator {
      width: 96%;
   }
}

.item__configurator__row {
   display: flex;
   justify-content: space-around;
}

.configurator__first__row__item {
   background: rgb(231, 229, 229);
   font-size: 18px;
   width: 45%;
   height: 30px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.configurator__first__row__item__selected {
   background: white;
}

.configurator__second__row__item__selected {
   font-size: 18px;
   background: white;
   border-radius: 10px;
   width: 30%;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.configurator__second__row__item {
   font-size: 18px;
   background: rgb(231, 229, 229);
   border-radius: 10px;
   width: 30%;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.item__add {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin-top: 15px;
}

.item__add__price {
   font-size: 22px;
   font-weight: bold;
}
/*@media (max-width: 400px) {*/
/*   .item__add__price span {*/
/*      display: none;*/
/*   }*/
/*}*/

.item__add__button {
   display: flex;
   align-items: center;
   color: rgb(255, 115, 0);
   padding: 5px 10px;
   width: 40%;
   height: 24px;
   border-radius: 20px;
   justify-content: center;
   cursor: pointer;
   transition: 0.9s;
   border: 1px solid rgb(255, 115, 0);
   position: relative;
   overflow: hidden;
}

.item__add__button:hover {
   color:white;
   transition: 0.3s;
}

.item__add__button::before,
.item__add__button::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: rgb(255, 115, 0);
      border-radius: 20px;
      top: 0;
      left: -100%;
      opacity: 0.5;

      transition: 0.3s;
      z-index: -1;
}

.item__add__button:hover::before,
.item__add__button:hover::after {
   left: 0
}

.item__add__button::after {
   opacity: 1;
   transition-delay: 0.2s;
}

.item__add__button:hover {
   transition: 0.9s;
   border: 1px solid white;
}

.button__item {
   margin: 0 6px
}
