.header {
   position: sticky;
   top: 0;
   width: 100%;

   display: flex;
   justify-content: center;
   border-bottom: 1px solid lightgrey;
   background: white;
   z-index: 5;
}

.header__content__container {
   padding: 5px 10px;
   height: 65px;
   width: 1200px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   line-height: 1;
}

.link {
   text-decoration: none;
   color: black;
}

.logo {
   display: flex;
   align-items: center;
}
@media (max-width: 410px) {
   .logo__text {
      display: none;
   }
   .logo__title {
      width: 100px;
   }
}

.logo:hover {
   cursor: pointer;
}

.logo__container {
   display: flex;
   flex-direction: column;
   margin-left: 4px;
}

.logo__title {
   font-weight: bold;
   font-size: 150%;
   text-transform: uppercase;
   letter-spacing: 0.01rem;
}

.logo__text {
   font-size: 14px;
   color: grey;
}

.logo__image {
   height: 40px;
}

.basket {
   display: flex;

   background: rgb(255, 115, 0);
   color: white;
   font-size: 17px;
   padding: 12px 20px;
   border-radius: 20px;
   cursor: pointer;
   transition: 0.3s;
   transition-timing-function: linear;
}
@media (max-width: 410px) {
   .basket {
      justify-content: center;
      width: 60px;
   }
   .basket__price {
     display: none;
   }
}

.basket:hover {
   transition: 0.5s;
   background: rgb(73, 69, 69);
}

.basket__price {
   border-right: 1px solid white;
   padding-right: 7px;
   margin-right: 7px;
}

.basket__count {
   margin-left: 6px;
}
