.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elements__container {
    margin: 0 auto;
    max-width: 1200px;
}
@media (max-width: 1200px) {
  .elements__container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .elements__container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .elements__container {
    max-width: 768px;
  }
}

.hello {
  color: red;
}